{% extends "accounts/base.html" %}
{% block content %}

<h3 class="mb-4">Manage Mock Interviews</h3>

<table class="table table-bordered table-hover align-middle">

<thead class="table-dark">
<tr>
  <th>ID</th>
  <th>Candidate</th>
  <th>Preferred Slot</th>
  <th>Confirmed Time</th>
  <th>Status</th>
  <th>Update</th>
  <th>Action</th>
</tr>
</thead>

<tbody>
{% for i in interviews %}
<tr>

  <td>{{ i.id }}</td>

  <td>{{ i.candidate }}</td>

  <!-- Candidate request -->
  <td>
    {{ i.preferred_date }} <br>
    <small class="text-muted">{{ i.get_preferred_time_display }}</small>
  </td>

  <!-- Admin confirmed -->
  <td>
    {% if i.scheduled_datetime %}
        {{ i.scheduled_datetime }}
    {% else %}
        <span class="text-warning">Not scheduled</span>
    {% endif %}
  </td>

  <!-- Status -->
  <td>
    <span class="badge
      {% if i.status == 'pending' %}bg-secondary
      {% elif i.status == 'scheduled' %}bg-success
      {% else %}bg-primary{% endif %}">
      {{ i.status|title }}
    </span>
  </td>

  <!-- Actions -->
  <td>
    <a class="btn btn-sm btn-primary"
       href="{% url 'admin_mock_update' i.id %}">
       Manage
    </a>

    <td>



{% if i.has_feedback %} <!-- Trainer already submitted --> <a class="btn btn-sm btn-info"
    href="{% url 'mock_report' i.id %}">
View Report </a>

{% elif i.status == "scheduled" or i.status == "completed" %} <!-- No feedback yet --> <a class="btn btn-sm btn-success"
    href="{% url 'mock_feedback' i.id %}">
Give Feedback </a>
{% endif %}

</td>

  </td>

</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
