<style>
.footer-bg {
  background-color: #1d8094;
}

.footer-social a{
  color:#fff;
  margin:0 12px;
  font-size:20px;
  display:inline-block;
  transition:.2s;
}

.footer-social a:hover{
  color:#ffd166;
  transform:scale(1.15);
}

</style>


<footer class="footer-bg text-white text-center py-4 mt-5">


  <!-- Social Links -->
  <div class="footer-social mb-2">
    <a href="https://www.instagram.com/vetriconsultancyservices/" target="_blank">
      <i class="bi bi-instagram"></i>
    </a>

    <a href="https://in.linkedin.com/company/vetri-technology-solutions" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>

    <a href="mailto:suganyasdv16@gmail.com">
      <i class="bi bi-envelope-fill"></i>
    </a>
  </div>

  © 2026 VCS

</footer>
