{% extends "accounts/base.html" %}
{% load socialaccount %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">

        <h4 class="mb-3 text-center">Login</h4>

        <form method="post">
          {% csrf_token %}
          <input class="form-control mb-3"
                 name="email"
                 placeholder="Email ID / Username"
                 required>

          <input class="form-control mb-3"
                 type="password"
                 name="password"
                 placeholder="Enter Password"
                 required>

          <button class="btn btn-primary w-100">
            Login
          </button>
        </form>

        <div class="text-center my-3">— OR —</div>

        <a href="{% provider_login_url 'google' %}"
           class="btn btn-outline-danger w-100">
          Sign in with Google
        </a>

      </div>
    </div>
  </div>
</div>
{% endblock %}
