{% extends "accounts/base.html" %}
{% block content %}

<div class="card shadow-sm">
  <div class="card-body">

    <h3>{{ job.title }}</h3>
    <p class="text-muted">
      <strong>{{ job.company_name }}</strong> • {{ job.location }}
    </p>

    <p>{{ job.experience_min }}–{{ job.experience_max }} years</p>

    <!-- PLAN BADGE -->
    {% if job.visibility == "FREE" %}
      <span class="badge plan-free mb-2">FREE Job</span>
    {% elif job.visibility == "PRO" %}
      <span class="badge plan-pro mb-2">PRO Job</span>
    {% elif job.visibility == "PROPLUS" %}
      <span class="badge plan-proplus mb-2">PRO PLUS Job</span>
    {% endif %}

    <hr>

    <h5>Description</h5>
    <p>{{ job.description }}</p>

    <h6>Skills</h6>
    <p>{{ job.skills }}</p>

    <p><strong>Deadline:</strong> {{ job.deadline }}</p>

    <hr>

    <!-- ACTIONS -->
    {% if can_apply %}

      <a href="{% url 'save_job' job.id %}" class="btn btn-outline-secondary">
        Save
      </a>

      <a href="{% url 'apply_job' job.id %}" class="btn btn-primary">
        Apply
      </a>

    {% else %}

      <div class="alert alert-warning">
        This is a <strong>{{ required_plan }}</strong> job.
        Upgrade to <strong>{{ required_plan }}</strong> to apply.
      </div>

      <a href="{% url 'settings' %}" class="btn btn-dark">
        Upgrade to {{ required_plan }}
      </a>

    {% endif %}

  </div>
</div>

{% endblock %}
